.deleteSpotContainer{
    display: grid;
}


.deleteSpotForm {
 display: grid;
 justify-content: center;
width:100%;
    height: 250%;


}

/* .deleteHeader {
    width:200%;
    display: grid;

    justify-content: center;
  border: 1px solid black;
}

.deleteForm input {
    width: 200%;
} */


.deleteSpotButton {
    background-color: #FF385C;
    color:white;
    height: 50%;
}
