.deleteBookingContainer {
    width:40em;
}
.deleteText{
    width:35em;
    text-align: center;
    display: inline-block;

}
.label{
    text-align: center;
}
.bookingContainerEdit {
    margin-left:1em;
}
