.editContainer{
    display: grid;
}
.editForm {
    display: grid;
    grid-template-columns: .5fr;
    justify-content: center;

}
.submitUpdatedInfo {
    background-color: #FF385C;
    color: white;
    display: grid;
    width: 100%;
}
