.editContainer{
    display: grid;
}


.editForm {
 display: grid;
 justify-content: center;
    height: 250%;
margin-right:25%;

}

.editForm input {
    width: 450%;
}


.submitUpdatedInfo {
    background-color: #FF385C;
    color: white;
}
