
.spotName {
    display: block;
    text-align: start;
    margin-left: 20%;
    border-bottom: 0px;
    font-size: 28px;
}

.reviewCount {
    margin-left: 20%;
}

.imageLayout {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(5, 5vw);
    grid-gap: 10px;
    margin-left: 20%;
}

.singleSpotImage {
    width: 100%;
    height: 100%;
    object-fit: cover;

}






.item1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
}

.item2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
}

.item4 {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item5 {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 6;

}






.addReviewText, .addReviewText:active, .addReviewText:hover {
    text-decoration: none;
    display: grid;
    justify-content: center;
    align-items: center;
    color:white;
    width: 18em;
    margin-right:50%;
    height: 3em;
    border-radius: 12px;
    background-color: #FF385C;
}

.priceReviewsLine{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}


.singlePrice {
    display: grid;

    font-size: 20px;
    font-weight: bold;
    font-size: 20px;

}
.reviewsRatingBottom{
    display: inline-block;
    margin-left:20%;
    /* margin-left: 70%;
    margin-bottom: 88%; */
}


.userUpdateDeleteSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20%;
    justify-content: space-around;
    margin-right: 12.5%;
    margin-left: 51%;
    margin-bottom: .2%;
    height: 2em;

}


.updateButton, .updateButton:hover, .updateButton:active, .updateButton:link, .updateButton:visited .deleteButton, .deleteButton:hover, .deleteButton:active, .deleteButton:link, .deleteButton:visited {
    text-decoration: none;
    display: grid;
    column-gap: 1%;
    background-color: #FF385C;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: .9em;
    list-style-type: none;
}
.deleteReviewButton{
    text-decoration: none;
    display: grid;

    background-color: #FF385C;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    color:white;
    width: 50%;
    list-style-type: none;

}


.spotDescription {
    display: inline-block;
    justify-content: start;
    width: 80%;
    margin-top :2%;
    border-bottom: 1px solid grey;

}
.info {
    font-size: 16px;
    margin-top: -1%;
    padding-bottom: 2%;
    border-bottom: 1px solid grey;
    width: 100%;
}


.reviewsContainer {

    grid-template-columns: 7fr 1fr;
    grid-template-areas: "reviews createReview";
    display: grid;
    width:66.5%;
    margin-left:20%;
    justify-content: center;
    margin-top: 0%;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

}

.createReviewContainer {
    display: grid;
    grid-area: createReview;
    align-items: center;
    border: 1px solid grey;
    border-radius: 25px;
    margin-top: 3%;
    width: 110%;
    justify-content: center;
    height: 10em;
    margin-top:2em;

}


.individualReview{
    display: grid;
}

.userNameReview{
display: inline-block;

padding: 2%;

}


.descriptionReview{
    display: inline-block;
    grid-template-columns: 1fr;
    margin-left: 2%;
    margin-bottom: 5%;
}



.spotData {
    display:inline-block;
    margin-left:20%;
    column-gap: 20em;
    padding-left:1%;
    width:50%;
}

.spotData i {
    display: inline-block;
}

.spotData p {
    display: inline-block;
    padding-left: .2em;
    padding-right: 1em;
}


.formUser {
    font-size: 12px;
    font-weight: bolder;
}



.yo {
    border: 1px solid black;
    height: 6em;
}

.disabledCreateReview li {
    text-decoration: none;
    display: grid;
    justify-content: center;
    align-items: center;
    color:white;
    width: 18em;
    margin-right:50%;
    height: 3em;
    border-radius: 12px;
    background-color: gray;
}
