
.spotName {
    display: block;
    text-align: start;
    margin-left: 20%;
    border-bottom: 0px;
    font-size: 28px;
}

.reviewCount {
    margin-left: 20%;
}

.imageLayout {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;

    margin-left: 20%;
}

.singleSpotImage {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.reviewsLink {
margin-right:1%;

}





.item1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
}

.item2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
}

.item4 {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item5 {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 6;
}
