.createContainer{
    display: grid;
}
.formTitle{
    display: grid;
    justify-content: center;
    margin-top: 2%;
    font-weight: bold;
}

.createForm {
    display: grid;
    grid-template-columns: .5fr;
    justify-content: center;
}




.submitCreateInfo {
    background-color: #FF385C;
    color: white;
    display: grid;
    width: 100%;
}
