.createContainer{
    display: grid;
}
.formTitle{
    display: grid;
    justify-content: center;
    margin-top: 2%;
    font-weight: bold;
}

.createForm {
    display: grid;
    justify-content: center;
       height: 250%;
   margin-right:25%;


}

.createForm input {
    width: 450%;
}


.submitCreateInfo {
    background-color: #FF385C;
    color: white;
}
