.deleteReviewButtonConfirm {
    background-color: #FF385C;
    color:white;
    border-radius: 25px;
}



.deleteContainer{
    border-radius: 25px;

    display: grid;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-left: 5%;
}
