.deleteReviewButtonConfirm {
    background-color: #FF385C;
    color:white;
}


#modal-content:has(.deleteContainer){
    height: 30%;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: 25px;
}
