.hidden {
    display:none;
}

.logoText {
    display: inline-block;
    color: #FF385C;
}

.bookingsButton {
    border-radius: 25px;
    height: 2em;
    color: gray;
    width:6em;
}
 .createSpotButton {
    border-radius: 25px;
    height: 2em;
    width:12em;
    color: gray;


}
.createSpotButton:hover, .bookingsButton:hover {
    border:1px solid grey;
    cursor: pointer;
}

.level{
 border-top:1px solid gray;
 border-bottom:1px solid gray;
 height: 5em;
}

.menuButton {
display: grid;
width: 6.5em;
height: 3.3em;
grid-area: login;
border: 0px;
background-color: white;
align-content: center;


}
li {
    list-style-type: none;
}

.fa-house-crack {
    color: #FF385C;
}



.menuButton button {
    border:1px solid gray;
    cursor:pointer;
    border-radius: 25px;

}

.menuButton button:hover {
    box-shadow: 1px 1px grey;
}

.fa-user-circle {
    display: grid;
    justify-content: right;
margin-bottom: 10%;
color:grey;
padding-right: 3%;
}
.fa-bars {
        display: grid;
        justify-content: left;
        padding-left: 10%;
    margin-top: 15%;
    color:grey;


}

.menuButtonOpen li {
    padding: 10%;
    border-bottom: 1px solid gray;
    font-weight: bold;
    cursor: pointer;
}
.menuButtonOpen{
position: absolute;
top: 9%;
right: 2%;
box-shadow: 1px 1px 2px gray;
overflow: hidden;
padding: 1%;
border-radius: 25px;
width: 13em;
background-color: white;


}

.logoutButton button, .logoutButton button:hover {
    display: grid;
    border:0px;
    margin-left:2em;
    box-shadow: 0px 0px;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}
